<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="placeholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:beanProps/person.properties"/>
    </bean>

    <bean id="person2" class="com.arief.mvc.domain.Person">
        <property name="id" value="${p.id}"/>
        <property name="nama" value="${p.nama}"/>
    </bean>

    <bean id="person" class="com.arief.mvc.domain.Person">
        <property name="id" value="1"/>
        <property name="nama" value="arief"/>
     </bean>

</beans>